
.week-select {
  margin: 10px;
  text-align: center;
}

.week-range {
  display: inline-block;
  width: 300px;
}

.week-view {
  display: flex;
  margin: 10px;
}

.week-day {
  flex: 0;
  min-width: calc(100% / 7.0);
  max-width: calc(100% / 7.0);
  width: calc(100% / 7.0);
  padding: 0 4px;
}

.week-timeline-container {
  position: relative;
  margin: 10px;
  padding-top: 17px;
  height: 960px;
}

.week-timeline-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  right: 0;
  margin-top: 0;
}

.week-day-name {
  text-align: center;
}

.week-task-log {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--background-high);
}

.week-task-log-name {
  margin-bottom: 10px;
}

.week-task-log-time {
  text-align: right;
}

.week-task-summary {
  text-align: right;
}

.hour-line {
  position: relative;
  height: 40px;
  line-height: 0;
}

.hour-line::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 10px;
  border-top: solid 1px var(--background-high);
}

.week-day-events {
  position: relative;
  height: 960px;
}

.week-event {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 10px;
  border-radius: 5px;
  background-color: var(--background-high);
  border-bottom: 1px solid var(--background);
}

.week-event .week-task-log-name {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
